@import './Init.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

html {
    line-height:1;letter-spacing:0.05em;font-family:'Handjet','Orbit', sans-serif;
    &.lenis {height: auto;}
    &.lenis-smooth {scroll-behavior: auto;}
    &.lenis-smooth [data-lenis-prevent] {overscroll-behavior: contain;}
    &.lenis-stopped {overflow: hidden;}
    &.lenis-scrolling iframe {pointer-events: none;} 
}
body {
    background-color:#000;
    // @include pc-full { background-color:pink; }
    // @include pc { background-color:red; }
    // @include notebook { background-color:blue; }
    // @include tablet { background-color:green; }
    // @include mobile { background-color:yellow; }
}
html,body,p,span,h1,h2,h3,h4,h5,h6 { padding:0;margin:0; }
a {color:$FontColor;text-decoration:none;}
i {font-style:normal;}
li {list-style:none;}
::selection {
    color: #003f46;
    background: #d6f5c1;
}
button {background-color:transparent;border:0;cursor:pointer;font-family:'Handjet','Orbit', sans-serif;}

.hideTxt { width:0px;height:0px;font-size:1px;opacity:0;text-indent:-9999px;color:transparent;overflow:hidden; }

// header
.header {
    position:fixed;top:0;width:100%;padding:30px 0;box-sizing:border-box;z-index:10;
    padding-left:getVw(80px);padding-right:getVw(80px);display:flex;justify-content:space-between;
    mix-blend-mode: difference;
    .logo {
        font-size:30px;color:#fff;font-weight:400;letter-spacing:0.1em;
        text-transform:uppercase;
    }
    &.bk {
        .logo {
            color:$FontColor2
        }
    }
}
// nav
.navList {
    position:fixed;right:getVw(80px);top:50%;transform:translateY(-50%);z-index:10;
    text-align:right;mix-blend-mode: difference;
    li {
        margin-top:15px;
        &:first-child {margin-top:0;}
    }
}
.pBtn {
    position:relative;display:inline-block;font-size:15px;padding:10px;color:#fff;border:1px solid #fff;border-radius:8px;overflow:hidden;
    box-shadow:0px 3px 0px #fff;letter-spacing:0.1em;text-transform:uppercase;text-align:center;
    &:before {
        position:absolute;bottom:0;left:0;width:100%;height:0;background-color:$scene2;content:'';
        z-index:-1;
    }
    &.bk {
        color:#000;box-shadow:0px 3px 0px #000;border-color:#000;
        background-color:#fff;
    }
    &:active {
        top:3px;box-shadow:none;
        &:before {height:100%;}
    }
}

// footer
.footer {
    position:relative;border-top:1px solid #000;z-index:20;
    background-color:#fff;padding:20px;box-sizing:border-box;
    .infoWrap {
        text-align:center;
        i {
            display:block;margin-top:10px;color:$FontColor2;letter-spacing:0.1em;
            &:first-child {margin-top:0;}
        }
    }
}

.contents {
    position:relative;width:100%;height:3000px;z-index:3;
    margin-top:-100vh;box-sizing:border-box;
    &:first-of-type {margin-top:0;}
    .con {
        position:sticky;top:0;left:0;width:100%;height:100vh;padding:20px;overflow:hidden;box-sizing:border-box;
        &.center {
            display:flex;padding:0;
            // justify-content:center;
            align-items:center;
        }
        .sectionTitle {
            @include sectionText;
        }
    }
    .menuTitle {
        position:absolute;top:34px;left:50%;text-align:center;transform:translateX(-50%);opacity:0;
        @include menuText;transition:opacity 0s;text-transform:uppercase;
    }
    &.visible {
        .menuTitle {opacity:1;transition:opacity .6s;}
    }
}

// opening
@keyframes openTxt {
    0% {transform:translateY(10%);}
    100% {transform:translateY(-10%);}
}
@keyframes openArrow {
    0% {height:20px;}
    100% {height:30px;}
}
@keyframes openArrow2 {
    0% {bottom:30px;}
    100% {bottom:60px;}
}
#opening {
    &.visible {
        .con {position:fixed;}
    }
    .menuTitle {color:#fff;opacity:1 !important;}
    .openTxt {
        display:block;position:absolute;top:50%;width:100%;transform:translateY(-50%);text-align:center;
        color:#fff;font-size:getVw(300px);letter-spacing:0.1em;
        i {
            display:inline-block;
            animation-name:openTxt;animation-duration:1s;
            animation-iteration-count:infinite;animation-direction:alternate;
        }
    }
    .scrollInfo {
        display:block;position:absolute;bottom:30px;width:100%;color:#fff;letter-spacing:0.2em;text-align:center;
        animation-name:openArrow2;animation-duration:1s;
        animation-iteration-count:infinite;animation-direction:alternate;
        .arrow {
            position:relative;display:block;margin:10px auto 0;width:2px;height:20px;background-color:#fff;text-indent:-9999px;
            animation-name:openArrow;animation-duration:1s;
            animation-iteration-count:infinite;animation-direction:alternate;
            &:before,&:after {
                position:absolute;bottom:0;width:2px;height:10px;background-color:#fff;content:'';
            }
            &:before {
                left:4px;transform:rotate(45deg);
            }
            &:after {
                right:4px;transform:rotate(-45deg);
            }
        }
    }
}

// hello
#hello {
    &.visible {
        .con {position:fixed;}
    }
    margin-top:0;z-index:1;background-color:$scene1;
    .sectionTitle {
        position:absolute;top:50%;left:getVw(80px);width:50%;transform:translateY(-50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        strong {
            position:relative;display:block;font-size:getVw(150px);line-height:0.93;
            i {
                display:block;
                &.pointTxt {color:#ed1e6c;}
            }
        }
        &.title1 {
            text-align:right;
        }
        &.title2 {
            left:50%;
            strong {
                i {transform:translateX(-100%);}
            }
            &:before {display:none;}
        }
    }
}

@keyframes descArrow {
    0% {bottom:20px;}
    100% {bottom:40px;}
}
// introduce
#introduce {
    .aboutWrap {
        position:absolute;bottom:100px;left:50%;width:80%;opacity:0;transform:translate(-50%,50%);border-radius:10px;overflow:hidden;
        display:flex;background-color:#c6bca5;border:3px solid #000;
        .imgWrap {
            position:relative;display:block;width:300px;height:300px;box-sizing:border-box;overflow:hidden;
            flex-shrink:0;border-right:3px solid #000;
            img {
                position:absolute;top:50%;left:50%;height:100%;transform:translate(-50%,-50%);
                filter:grayscale(0.5);
            }
        }
        .descWrap {
            position:relative;width:100%;padding:30px;box-sizing:border-box;flex-shrink:1;
            .name {position:absolute;top:30px;left:30px;display:block;font-size:30px;}
            .txtWrap {
                position:relative;height:100%;overflow:hidden;
                .txt {
                    position:absolute;top:50%;opacity:0;font-size:25px;line-height:1.3;letter-spacing:0.1em;white-space:pre-line;
                    transform:translate(0,0);
                    &:first-child {opacity:1;transform:translate(0,-50%);}
                }
            }
            &:after {
                position:absolute;bottom:20px;right:30px;display:block;width:0;height:0;border:10px solid transparent;content:'';
                border-top-color:#000;animation-name:descArrow;animation-duration:1s;
                animation-iteration-count:infinite;animation-direction:alternate;
            }
        }
    }
}

// shorts video
#shorts {z-index:4;}
.shortsWrap {
    position:relative;width:100%;perspective:1500px;
    display:flex;justify-content:center;align-content:center;
    transform:translateY(50%) scale(0.6);opacity:0;
    .itemList {
        position:relative;width:350px;height:350px;transform-style:preserve-3d;
        transform:rotateY(0deg);
    }
    .item {   
        position:absolute;top:0;left:0;width:100%;height:100%;border-radius:getVw(20px);box-shadow: 10px 18px 47px -19px rgba(0,0,0,0.44);
        overflow:hidden;transform-style:preserve-3d;backface-visibility:visible;background-color:#fff;
        .previewImg {display:block;height:100%;}
        &:before {
            position:absolute;bottom:0;left:0;width:100%;height:30%;content:'';z-index:1;
            background: linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
        }

        .txtWrap {
            position:absolute;bottom:0;left:0;color:#fff;width:200px;padding:20px;box-sizing:border-box;z-index:2; 
            font-family: 'Roboto', sans-serif;
            .title {display:block;margin-bottom:10px;font-weight:bold;font-size:20px;}
            .desc {
                display:block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
                font-size:18px;
            }
            .tag {
                display:block;width:100%;margin-top:10px;padding:5px 10px 3px;font-size:10px;border-radius:10px;
                background-color:rgba(0,0,0,.4);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
            }
        }
    }
}
// contact
#contact {
    .emailTxt {
        position:absolute;top:50%;left:50%;width:50%;transform:translate(0,0);opacity:0;
        strong {font-size:80px;color:#000;letter-spacing:0.2em;white-space:pre-line;}
        p {margin-top:30px;font-size:20px;line-height:1.2;white-space:pre-line;}
        .pBtn {
            display:block;max-width:200px;padding:15px;margin:30px 0 0;font-size:20px;
        }
    }
}

.threeWrap {
    position:fixed !important;top:0;left:0;width:100%;height:100%;z-index:2;
    canvas {width:100%;height:100%;}
}

.scrollBarWrap {
    position:fixed;top:0;left:0;width:100%;height:15px;z-index:20;
    background-color:#000;
    .progress {
        position:relative;display:block;width:0;height:100%;background-color:#fff;
    }
    .txt {
        position:absolute;top:3px;left:50%;font-size:10px;transform:translateX(-50%);z-index:1;
        mix-blend-mode: difference;color:#fff;
    }
}

.errorWrap {
    display:flex;height:100vh;min-height:500px;background-color:#000;
    justify-content:center;align-items:center;flex-direction: column;
    h2 {font-size:getVw(300px);letter-spacing:0.3em;color:#fff;text-align:center;}
    .pBtn {display:block;font-size:20px;letter-spacing:0.2em;margin-top:50px;}
}