@import './Init.scss';

// header
.header {
    position:fixed;top:0;width:100%;padding:30px 0;box-sizing:border-box;z-index:10;
    padding-left:getVw(80px);padding-right:getVw(80px);display:flex;justify-content:space-between;
    mix-blend-mode: difference;
    @include noteTablet {padding-left:getVw(40px);padding-right:getVw(40px);}
    @include mobile {
        padding:30px 20px;
    }
    @include tiny {padding:30px 10px;}
    .logo {
        font-size:30px;color:#fff;font-weight:400;letter-spacing:0.1em;
        text-transform:uppercase;
        @include mobile {font-size:20px;}
    }
    &.bk {
        .logo {
            color:$FontColor2
        }
    }
}