// get vw
@function getVw($fontSize){
    $vwContext:$PcViewport * 0.01 * 1px;
    @return $fontSize / $vwContext * 1vw;
}
// section title
@mixin sectionText{
	display:block;
	color: $FontColor2;
	font-size: getVw(80px);
	white-space: pre-line;
	font-weight:bold;
}
