// viewport size breakpoint
$pc-full: 1800;
$vwport-pc: 1440;
$vwport-tb: 1024;
$vwport-mo: 768;
$vwport-tiny: 320;

// color
$FontColor : #000;
$FontColor2 : #003f46;
$scene1 : #d6f5c1;
$scene2 : #708164;