// viewport size breakpoint
$pc-full: 1800;
$vwport-pc: 1440;
$vwport-tb: 1024;
$vwport-mo: 768;

// color
$FontColor : #000;
$FontColor2 : #2b2b2b;
$FontColor3 : #838383;
$Color1 : blue;
$scene1 : blue;