// viewport size breakpoint
$pc-full: 1800;
$vwport-pc: 1440;
$vwport-tb: 1024;
$vwport-mo: 768;
$vwport-tiny: 320;

// color
$FontColor : #000;
$FontColor2 : #767676;
$scene1 : #d2d2d2;
$scene2 : #6b6b6b;
